/*RESET CSS BÁSICO, BASADO EN LA VERSIÓN 2.O DEL RESET.CSS DE ERIC
MEYER*/
* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, main, footer, header, hgroup, nav, section
{
display: block;
}
body
{
line-height: 1;
}
ol, ul
{
list-style: none;
}
table
{
border-collapse: collapse;
border-spacing: 0;
}

#contenedor {
    width: 100%;
    background-color: white;
}

.cabecera {
    text-align: center;
    padding: 40px 0;
}

.titulo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



.logo {
    width: 45px;
}



.cabecera h1 {
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: normal;
    color: #2f3e3e;
}



.subtitulo {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 3px;
    color: #663207;
}


.menu {
    margin-top: 40px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 18px;
}

.menu a {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px;
    color: #663207;
}

.menu a:hover {
    color: black;
}



.imagen {
    width: 100%;
    height: 80vh;
    background-image: url("../imgs/logoconfondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.ancho {
    width: min(1100px, 92%);
    margin: 0 auto;
}



.seccion {
    padding: 70px 0;
}

.seccion-suave {
    background-color: #fafafa;
}

.seccion h2 {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: normal;
    color: #2f3e3e;
    margin-bottom: 20px;
}

.texto {
    line-height: 1.8;
    color: #333;
    margin-bottom: 14px;
}

.bloques {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 18px;
}

.bloque{
    border: 1px solid #e6e6e6;
    padding: 18px;
    background: white;
    
}
.bloque img{
 width: 50%;
}
.bloque1 {
    border: 1px solid #e6e6e6;
    padding: 18px;
    background: white;
}
.bloque1 img{
    width: 100%;
}
.bloque2 {
    border: 1px solid #e6e6e6;
    padding: 18px;
    background: white;
}
.bloque2 video {
    width: 100%;
}

.bloque .bloque1 .bloque2 h3 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    margin-bottom: 6px;
    color: #2f3e3e;
}

.mini {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

.lista {
    margin-top: 12px;
    padding-left: 18px;
    line-height: 1.8;
    color: #333;
}
.link-proyectos {
    text-decoration: none;
    color: inherit;
}

.link-proyectos:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .bloques {
        grid-template-columns: 1fr;
    }

    .menu ul {
        flex-wrap: wrap;
    }
}


@media (max-width: 700px) {

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }

}